<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
      TESTE

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()">
        <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
      </button>
      <span>Minha Lista de Filmes</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
